*{
margin: 0;
padding: 0;
list-style: none;
}
body{
    background-image:url(./IMG/luna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.alto{
float: left;
margin-left: 30px;
font-family: "teko";
font-size: 50px;
font-weight: bold;
color: rgba(255,255,255, 0.7);
}
.ancho p{
display: inline;
}
.numero{
position: absolute;
top: 70px;
bottom: 10px;
left: 25px;
right: 10px;
margin-left: 30px;
font-family: "teko";
font-size: 100px;
font-weight: bold;
color: rgba(255,255,255, 0.7);
}
.numero p{
display: inline;
}
.caja{
position:absolute;
top: 0px;
bottom: 10px;
left: 100px;
right: 10px;
}
.segundos{
font-size: 70px;
position:absolute;
top: 25px;
bottom: 10px;
left: 130px;
right: 10px;
}
.ampm{
font-size: 35px;
position:absolute;
top:0px;
bottom: 10px;
left: 139px;
right: 10px;
}